<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Person</title>
</head>
<body>
    <h2>Add a person</h2>
    <form action="/pages/add" method="POST">
        <input type="number" name="id" id="id" placeholder="ID">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="submit" name="SUBMIT">
    </form>
</body>
</html>