body{
    background-color: beige;
    font-family: monospace;
    font-size: 14pt;
}

.btn{
    width: 130px;
    background-color: maroon;
    color: white;
    margin: 50px;
    font-size: 30pt;
    padding: 50px;
    box-shadow: grey 10px 10px 5px;
    transition: 0.8s;
    border: solid grey 1px;
    border-radius: 20px;
}

.btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: grey 20px 20px 10px;
    transition: 0.5s;
}

.btn:active{
    transform: translate(10px,10px);
    box-shadow: grey 5px 5px 5px;
    transition: 0.2s;
}

