body{
    background-color: beige;
    font-family: monospace;
    font-size: 14pt;
}

li ul{
    display: none;
}

li:hover ul{
    display: block;
}

li:hover ul li ul{
    display: none;
}

li:hover ul li:hover ul{
    display: block;
}



