html, body{
    background-color: #B1F9F2;
    height: 100%;
    margin: 0;
}

.box{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: darkorchid; 
    margin: auto;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}