.box{
    margin: 5%;
    padding: 2%;
    background-color: bisque;
    border-radius: 20px;
}

#boxId{
    padding: 4%;
    width: 90%;
    margin-top: 8%;
}

.heading{
    font-size: 30pt;
    font-style: italic;
    font: optional;
}

#errorList{
    background-color: red;
    color: white;
    font-size: 20pt;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.buttonStyle{
    width: 100%;
}

#ulTasks li.done{
    text-decoration: line-through;
    color: gray;
}